{% load static %}
<div class="absolute -bottom-2 left-0 flex">
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
  <img src="{% static 'images/flames.gif' %}" class="h-30" />
</div>
