<a
  href="https://www.instagram.com/guineapigmile/"
  target="_blank"
  rel="noopener noreferrer"
>
  <li
    class="hover:bg-slate-800 text-white cursor-pointer rounded-lg p-2 transition-colors duration-200"
  >
    <i class="fa-brands fa-instagram"></i>
    Instagram
  </li>
</a>
<a
  href="https://www.youtube.com/@guineapigmile"
  target="_blank"
  rel="noopener noreferrer"
>
  <li
    class="hover:bg-slate-800 text-white cursor-pointer rounded-lg p-2 transition-colors duration-200"
  >
    <i class="fa-brands fa-youtube"></i>
    YouTube
  </li>
</a>
