{% load static %}
<nav
  class="bg-gray-900 text-white font-tech border-slate-700 flex justify-between border-b-2 p-2"
>
  <div class="text-md flex items-center">
    <div class="border-white mr-2 flex items-center gap-2 pr-4 lg:border-r-2">
      <a class="flex cursor-pointer gap-2" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" class="invert-logo h-6" />
        THE GREAT BOSTON GUINEA PIG 1 MILE
      </a>
    </div>
    <ul class="hidden flex-row items-center gap-1 lg:flex">
      {% include "auxiliary/nav_items.html" %}
    </ul>
  </div>

  <button
    class="text-white cursor-pointer pr-1 text-2xl lg:hidden"
    id="mobile-nav-button"
  >
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>
