<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Faster+One&family=Racing+Sans+One&family=Share+Tech&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/main.css' %}" />
    <title>The Great Guinea Pig 1 Mile of Boston</title>
  </head>
  <body
    class="overflow-hidden"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >
    <div class="flex h-screen flex-col">
      {% include "auxiliary/top_nav.html" %}
      <div
        class="relative flex flex-1 flex-col overflow-hidden overflow-y-auto overflow-x-hidden"
      >
        <div class="lg:hidden">{% include "auxiliary/mobile_nav.html" %}</div>
        {% include "auxiliary/hero_image.html" %} {% block content %} {%
        endblock content %}
      </div>
    </div>
    <script src="{% static 'src/index.js' %}"></script>
  </body>
</html>
