{% load static %}
<div class="relative z-10">
  <div class="bg-red-900 h-3"></div>
  <div class="bg-white h-0.5"></div>
  <div class="bg-red-900 h-2"></div>
  <div class="bg-white h-0.5"></div>
  <div class="bg-red-900 h-2"></div>
  <div class="bg-white h-0.5"></div>
  <div class="bg-red-900 h-2"></div>
  <div class="bg-white h-0.5"></div>
  <div class="bg-red-900 h-2"></div>
  <div class="bg-white h-0.5"></div>
  <div class="bg-red-900 h-3"></div>

  <div class="absolute bottom-0 w-full">
    <div class="flex items-end justify-around">
      <img
        src="{% static 'images/guinea_pig.gif' %}"
        class="lg:w-30 mb-2 w-20"
      />
      <img src="{% static 'images/guinea_pig.gif' %}" class="lg:w-30 w-20" />
      <img
        src="{% static 'images/guinea_pig.gif' %}"
        class="lg:w-30 mb-3 w-20"
      />
      <img
        src="{% static 'images/guinea_pig.gif' %}"
        class="lg:w-30 mb-1 w-20"
      />
      <img
        src="{% static 'images/guinea_pig.gif' %}"
        class="lg:w-30 mb-5 w-20"
      />
      <img src="{% static 'images/guinea_pig.gif' %}" class="lg:w-30 w-20" />
      <img
        src="{% static 'images/guinea_pig.gif' %}"
        class="lg:w-30 mb-6 w-20"
      />
    </div>
  </div>
</div>
