{% extends "base.html" %}
{% block body_class %}home-page{% endblock body_class %}

{% block hero_media %}
<div class="hero-section home-hero-section bg-slate-900 relative shrink-0">
  <div class="home-hero-section__stage">
    {% include "auxiliary/image_carousel.html" %}
    <div class="home-hero-section__welcome">
      {% include "home/welcome_blurb.html" %}
    </div>
  </div>
</div>
{% endblock hero_media %}

{% block content %}
<div class="home-bottom-track">
{% include "auxiliary/bottom_track.html" %}
</div>
{% endblock content %}
