<nav
  class="bg-slate-900 text-white max-w-100 font-tech border-slate-700 mt-3 flex h-full justify-center border-l-4 p-2 py-3"
>
  <ul class="flex flex-col">
    <li class="text-yellow-300 bg-slate-700 rounded-lg p-2">
      <i class="fa-home fa-solid"></i>
      Home
    </li>
    <li class="p-2">
      <i class="fa-pencil fa-solid"></i>
      Register
    </li>
    <li class="p-2">
      <i class="fa-trophy fa-solid"></i>
      Results
    </li>
    <li class="p-2">
      <i class="fa-info-circle fa-solid"></i>
      About the Race
    </li>
    <li class="p-2">
      <i class="fa-comments fa-solid"></i>
      Testimonials
    </li>
  </ul>
</nav>
