{% extends "base.html" %} {% block content %} {% load static %}
<div
  class="from-yellow-500 to-amber-800 relative flex flex-1 items-center justify-center overflow-y-hidden bg-gradient-to-tl p-4 lg:p-10"
>
  <div
    class="max-w-220 bg-slate-700 custom-shadow relative flex h-full max-h-full w-full flex-col overflow-auto rounded-lg p-10 text-2xl lg:text-3xl"
  >
    <img
      width="200"
      class="mx-auto mb-10 hidden md:block"
      src="/static/images/award_feathers.png"
    />
    <p class="text-white font-tech mb-8">
      The Guinea Pig Mile values the health and well-being of our most
      competitive guinea pigs. For the first time ever, we are proud to offer
      awards to the top finishers for each gender.
    </p>
    <p class="text-white font-tech text-md mb-8">
      There will be prizes for all podium finishers (<img
        class="inline-block"
        src="/static/images/gold.png"
        width="30"
      />
      ,
      <img class="inline-block" src="/static/images/silver.png" width="30" />,
      and
      <img class="inline-block" src="/static/images/bronze.png" width="30" />).
    </p>
    <p class="text-white font-tech text-md mb-8">
      Any male podium finisher under 4:20 or female podium finisher under 5:00
      will receive a $50 cash bonus.
    </p>
    <p class="text-white font-tech text-md mb-8">
      All awards will be given out at the end of the race.
    </p>
  </div>
</div>
{% endblock content %}
