{% extends "base.html" %} {% block content %} {% load static %}
<div
  class="from-yellow-500 to-amber-800 relative flex flex-1 items-center justify-center overflow-y-hidden bg-gradient-to-tl p-4 lg:p-10"
>
  <div
    class="max-w-400 bg-slate-700 custom-shadow relative flex h-full max-h-full w-full flex-col overflow-auto rounded-lg p-10 text-xl md:text-2xl lg:text-3xl"
  >
    <div class="mb-5 flex items-center justify-center gap-8">
      <img
        width="150"
        class="hidden md:block"
        src="/static/images/award_feathers.png"
      />
      <p class="text-white font-tech mb-4">
        The Guinea Pig Mile values the health and well-being of our most
        competitive guinea pigs. For the first time ever, we are proud to offer
        awards to the top finishers for each gender, as following:
      </p>
    </div>
    <ol class="text-white font-tech mb-4 list-inside list-decimal">
      <li class="mb-1 flex items-center gap-2">
        <img src="/static/images/gold.png" width="30" />
        $50 Cash (or upon request, a live guinea pig from Peru)
      </li>
      <li class="mb-1 flex items-center gap-2">
        <img src="/static/images/silver.png" width="30" />
        $25 Himalayan Kitchen Gift Card
      </li>
      <li class="mb-1 flex items-center gap-2">
        <img src="/static/images/bronze.png" width="30" />
        $10 Dunkin Donuts Gift Card
      </li>
    </ol>
    <p class="text-white font-tech text-md">
      All awards will be given out at the end of the race.
    </p>
  </div>
</div>
{% endblock content %}
